body{
    background-image: url(https://faith256-nalu.github.io/group-E-web-course-work/images/index/travel.jpg);
    
    
}
.parent-card{
    display: flex;
    justify-content: space-around;
    border-radius: 50px;

}
.card:hover{
   background-color: darkcyan;
   box-shadow: 0 12px 25px rgb(245, 167, 155);
   transform: translateX(-5px);
   color: cyan;
}
.content{
    justify-content: center;

}
.h3{
    justify-content: center;
}

.nav-link:hover{
     color:blueviolet;
    border-radius: 10px;
    box-shadow: 0 12px 25px;
}
.class-img-top{
  
    border-radius: 50%;
}
.footer{
    background-color: darkcyan;
    display: flex;
    justify-content: space-around;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(142, 142, 13);
}
.nav .logo b{
    color: red;
}.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(113, 113, 3);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active {
    content: '';
    width: 50%;
    height: 3px;
    background-color: red;
    display: flex;
    position: relative;
    margin-left: 10px;
}

